
/*ancho de los fluidos*/
#region-sidebar-first{
  width: 20%;
  float: left;
}

#region-content.grid-18{
  float: left;
  margin-left: 5%;
  width: 75%;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11,
 .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24{
  margin: 0;
 }

 body{
  background: #fff;
 }
 #page{
  padding: 0% 1%;
 }

.container-24.grid-14{
  float: left;
  width:30%;
  padding:0 2%;
  margin: 0;
}
.container-24.grid-8{
  float: left;
   width:60%;
   margin: 0;
    padding:0 2%;
}
.container-24.grid-24{
  overflow: hidden;
}

/*posiciones y margenes*/
/*logo*/
.zone-branding .region-branding{
  margin: 10px;
}
.zone-branding .region-branding .logo-img{
  float: left;
}
/*pie*/
#block-menu-menu-social-connection .content ul.menu{
  margin-top: 10px;
}
#block-menu-menu-social-connection .content ul.menu li span, #block-menu-menu-social-connection .content ul.menu li a{
  padding-left: 0px;

}
/*todos los productos*/
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row ,.page-products .view-display-products li.views-row{
  margin: 0% 2%;
}

/*estilos*/
/* azul color: color:#004B91; */
a.rojo{
  color:#990000;
}
/*background azul*/
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links,.block-search-api-sorts .content ul.search-api-sorts li a{
  background: #004B91;
}
/*azul*/
a, .breadcrumb a,.block-menu-user-menu .content ul.menu li a,.block-menu-user-menu .content ul.menu li a.active:hover, .block-menu-user-menu .content ul.menu li a:hover{
  color:#004B91;
}
/*fondo blanco*/
.zone-user-wrapper,.block-menu-user-menu .content ul.menu li a.active:hover, .block-menu-user-menu .content ul.menu li a:hover{
  background: #fff;
}

/*zona user*/

.block-menu-user-menu .content ul.menu li a{
  border: none;
  background-position: #fff;
}
.breadcrumb{
  font-weight: bold ;
  background: #fff ;
  border: none ;
  }
  .navigation .primary-menu ul li.first a, .navigation .second-menu ul li.first a,.navigation .primary-menu ul li a:hover,.navigation .primary-menu ul li a,
  .navigation .primary-menu ul li a, .navigation .second-menu ul li a{

  background: #fff ;
  border: none ;
  color:#004B91;
}
a:hover,.breadcrumb,.navigation .primary-menu ul li a:hover,.navigation .primary-menu ul li a, .navigation .second-menu ul li a:hover,
.navigation .primary-menu ul li a.active{
  color:#E47911;
}
a.rojo{
  color:#990000;
}
#block-views-exp-display-products-page .views-exposed-widgets,#block-views-exp-display-products-page{

}
#block-views-exp-display-products-page #edit-search-api-views-fulltext{
  background: #fff ;
  color:#333;
}

/*fotter*/
.section-footer,#zone-footer-wrapper,.section-footer ul.menu li.expanded span, .section-footer ul.menu li.expanded a,.zone-footer2-wrapper{
  background: #fff;
  color: #333 ;
} 
.navigation .primary-menu ul li.first a, .navigation .second-menu ul li.first a{
  border: none;
    color:#990000;
}
.navigation .primary-menu ul li a{
  color:#004B91;
}